<h5 class="mb-3">Categories</h5>
<hr />
<a class="btn btn-dark btn-sm mb-3" href="/categories/create">Create</a>
<table class="table table-bordered">
  <thead class="table-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Cities</td>
      <td>
        <a class="btn btn-dark btn-sm me-1">Edit</a>
        <a class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Games</td>
      <td>
        <a class="btn btn-dark btn-sm me-1">Edit</a>
        <a class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Programming</td>
      <td>
        <a class="btn btn-dark btn-sm me-1">Edit</a>
        <a class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Movies</td>
      <td>
        <a class="btn btn-dark btn-sm me-1">Edit</a>
        <a class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Boardgames</td>
      <td>
        <a class="btn btn-dark btn-sm me-1">Edit</a>
        <a class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Countries</td>
      <td>
        <a class="btn btn-dark btn-sm me-1">Edit</a>
        <a class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
