<div class="card shadow border-0 p-2">
  <div class="card-body">
    <small class="text-muted float-end">2024-09-30 09:18</small>
    <h5 class="card-title">Post Title</h5>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mi
      metus, consequat eu massa non, auctor laoreet felis. Vestibulum molestie,
      diam eu aliquam iaculis, lectus arcu euismod urna, nec tempus diam lectus
      in odio...
    </p>
    <a href="/posts/details/1" class="btn btn-sm btn-outline-dark">Details</a>
  </div>
</div>
