<h5>Posts</h5>
<hr />
<div class="row mb-3">
  <div class="col-sm-6">
    <badge></badge>
    <badge></badge>
    <badge></badge>
    <badge></badge>
    <badge></badge>
    <badge></badge>
    <badge></badge>
    <badge></badge>
  </div>
</div>
<div class="row gy-3">
  <div class="col-sm-4">
    <card></card>
  </div>
  <div class="col-sm-4">
    <card></card>
  </div>
  <div class="col-sm-4">
    <card></card>
  </div>
  <div class="col-sm-4">
    <card></card>
  </div>
  <div class="col-sm-4">
    <card></card>
  </div>
  <div class="col-sm-4">
    <card></card>
  </div>
</div>
