<h5>Posts</h5>
<hr />
<div class="row mb-3">
  <div class="col-sm-6">
    @for (category of categories; track category.id) {
    <badge
      label="{{ category.name }}"
      link="{{ categoryBaseLink + category.name?.toLowerCase() }}"
    ></badge>
    }
  </div>
</div>
<div class="row gy-3">
  <div class="col-sm-4">
    <card></card>
  </div>
  <div class="col-sm-4">
    <card></card>
  </div>
  <div class="col-sm-4">
    <card></card>
  </div>
  <div class="col-sm-4">
    <card></card>
  </div>
  <div class="col-sm-4">
    <card></card>
  </div>
  <div class="col-sm-4">
    <card></card>
  </div>
</div>
