<h5>Posts</h5>
<hr />
<div class="row mb-3">
  <div class="col-sm-6">
    <a href="/posts?category=movies">
      <span class="badge rounded-pill text-bg-dark me-2 p-2 shadow-sm"
        >Movies</span
      >
    </a>
    <a href="/posts?category=cities">
      <span class="badge rounded-pill text-bg-dark me-2 p-2 shadow-sm"
        >Cities</span
      >
    </a>
    <a href="/posts?category=games">
      <span class="badge rounded-pill text-bg-dark me-2 p-2 shadow-sm"
        >Games</span
      >
    </a>
    <a href="/posts?category=boardgames">
      <span class="badge rounded-pill text-bg-dark me-2 p-2 shadow-sm"
        >Boardgames</span
      >
    </a>
    <a href="/posts?category=programming">
      <span class="badge rounded-pill text-bg-dark me-2 p-2 shadow-sm"
        >Programming</span
      >
    </a>
    <a href="/posts?category=countries">
      <span class="badge rounded-pill text-bg-dark me-2 p-2 shadow-sm"
        >Countries</span
      >
    </a>
  </div>
</div>
<div class="row gy-3">
  <div class="col-sm-4">
    <div class="card shadow border-0 p-2">
      <div class="card-body">
        <small class="text-muted float-end">2024-09-30 09:18</small>
        <h5 class="card-title">Post Title 1</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mi
          metus, consequat eu massa non, auctor laoreet felis. Vestibulum
          molestie, diam eu aliquam iaculis, lectus arcu euismod urna, nec
          tempus diam lectus in odio...
        </p>
        <a href="/posts/details/1" class="btn btn-sm btn-dark">Details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card shadow border-0 p-2">
      <div class="card-body">
        <small class="text-muted float-end">2024-09-30 09:18</small>
        <h5 class="card-title">Post Title 2</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mi
          metus, consequat eu massa non, auctor laoreet felis. Vestibulum
          molestie, diam eu aliquam iaculis, lectus arcu euismod urna, nec
          tempus diam lectus in odio...
        </p>
        <a href="/posts/details/2" class="btn btn-sm btn-dark">Details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card shadow border-0 p-2">
      <div class="card-body">
        <small class="text-muted float-end">2024-09-30 09:18</small>
        <h5 class="card-title">Post Title 3</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mi
          metus, consequat eu massa non, auctor laoreet felis. Vestibulum
          molestie, diam eu aliquam iaculis, lectus arcu euismod urna, nec
          tempus diam lectus in odio...
        </p>
        <a href="/posts/details/3" class="btn btn-sm btn-dark">Details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card shadow border-0 p-2">
      <div class="card-body">
        <small class="text-muted float-end">2024-09-30 09:18</small>
        <h5 class="card-title">Post Title 4</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mi
          metus, consequat eu massa non, auctor laoreet felis. Vestibulum
          molestie, diam eu aliquam iaculis, lectus arcu euismod urna, nec
          tempus diam lectus in odio...
        </p>
        <a href="/posts/details/4" class="btn btn-sm btn-dark">Details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card shadow border-0 p-2">
      <div class="card-body">
        <small class="text-muted float-end">2024-09-30 09:18</small>
        <h5 class="card-title">Post Title 5</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mi
          metus, consequat eu massa non, auctor laoreet felis. Vestibulum
          molestie, diam eu aliquam iaculis, lectus arcu euismod urna, nec
          tempus diam lectus in odio...
        </p>
        <a href="/posts/details/5" class="btn btn-sm btn-dark">Details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card shadow border-0 p-2">
      <div class="card-body">
        <small class="text-muted float-end">2024-09-30 09:18</small>
        <h5 class="card-title">Post Title 6</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mi
          metus, consequat eu massa non, auctor laoreet felis. Vestibulum
          molestie, diam eu aliquam iaculis, lectus arcu euismod urna, nec
          tempus diam lectus in odio...
        </p>
        <a href="/posts/details/6" class="btn btn-sm btn-dark">Details</a>
      </div>
    </div>
  </div>
</div>
